.top {
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: glowing 2.5s infinite;
}

@keyframes glowing {
    0% {
    background-color: #d53d29;
        box-shadow: 0 0 5px #ffffffcc;
    }

    50% {
        background-color: #e8422d;
        box-shadow: 0 0 15px #ffffffcc;
    }

    100% {
    background-color: #d53d29;
        box-shadow: 0 0 5px #ffffffcc;
    }
}